openapi: 3.0.0
info:
  title: Credit Pipeline API
  version: 1.0.0
  description: |
    API для управления кредитным конвейером.

servers:
  - url: https://somesite.com/v1

paths:
  /clients:
    post:
      summary: Создать нового клиента
      tags: [Клиенты]
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientCreateRequest'
      responses:
        '201':
          description: Клиент успешно создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientResponse'
        '400':
          description: Неверные данные клиента
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Неверный API-ключ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Доступ запрещен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    get:
      summary: Получить список клиентов
      tags: [Клиенты]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Список клиентов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientsListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /clients/{clientId}:
    get:
      summary: Получить данные клиента
      tags: [Клиенты]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ClientIdParam'
      responses:
        '200':
          description: Данные клиента
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientDetailsResponse'
        '404':
          description: Клиент не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: |
        Статичный API-ключ в формате UUID v4.
        Пример: `X-API-KEY: 123e4567-e89b-12d3-a456-426614174000`

  parameters:
    ClientIdParam:
      name: clientId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      example: "123e4567-e89b-12d3-a456-426614174000"

    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100
      description: Лимит записей

    OffsetParam:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
      description: Смещение

  schemas:
    ClientCreateRequest:
      type: object
      required: [fullName, phone]
      properties:
        fullName:
          type: string
          example: "Иванов Иван Иванович"
        phone:
          type: string
          pattern: '^\+7\d{10}$'
          example: "+79991234567"
        email:
          type: string
          format: email
          nullable: true
          example: "client@example.com"
        birthDate:
          type: string
          format: date
          nullable: true
          example: "1990-01-15"

    ClientResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        createdAt:
          type: string
          format: date-time
          example: "2023-01-01T12:00:00Z"

    ClientDetailsResponse:
      allOf:
        - $ref: '#/components/schemas/ClientResponse'
        - type: object
          properties:
            fullName:
              type: string
            phone:
              type: string
            email:
              type: string
              nullable: true

    ClientsListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ClientDetailsResponse'
        total:
          type: integer
          example: 100

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          enum: [invalid_key, access_denied, validation_error, not_found]
          example: "validation_error"
        message:
          type: string
          example: "Invalid input data"
        details:
          type: array
          items:
            type: string
          example: ["phone: invalid format"]

  responses:
    UnauthorizedError:
      description: Неверный или отсутствующий API-ключ
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalidKey:
              value:
                error: "invalid_key"
                message: "Invalid API key format"

security:
  - ApiKeyAuth: []